.box{
    width: 165px;
    padding-right: 30px;
    padding-top: 60px;
    color:#929699;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title{
        font-size:14px;
    }
    .topMenuBbox{
        padding-top: 30px;
    }
    .subBox{
        border-bottom: 1px solid #26252D;
        .title{
            font-size: 14px;
            margin-top:30px;
            margin-bottom: 30px;
        }

    }
    .subBox:nth-child(2){
        border: none;
    }
    .card{
        display: flex;
        margin-bottom: 30px;;
        .cardavatar{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .cardContent{
            flex: 1;
            display: flex;
            align-items: center;
            padding-left: 10px;
        }
    }

    .bottombar{
        width:119px;
        height: 34px;
    }
}